# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment files
.env

# Ignore log files
app.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Ignore Streamlit and temporary files
.streamlit/
*.log
